{% extends 'base.html.twig' %}
{% block body %}
{#{{ estado }}#}
    <div id="slider-wrapper">
        <div id="slider">
            <a href="URL_ENLACE1"><img src="http://xurl.es/3h8zb" alt="ofertas de manzanas" longdesc="ofertas de manzanas de temporada"/></a>
            <a href="URL_ENLACE2"><img src="{{ asset('img/slider_bananas.jpg') }}" alt="ofertas del mes" longdesc="oferta de plátanos al 10% de descuento"/></a>
            <a href="URL_ENLACE3"><img src="{{ asset('img/platanos_slider.jpg') }}" alt="imagen slider" longdesc="plato de fruta variada"/></a>
        </div>
        {#<a href="javascript:void();" class="mas">&rsaquo;</a>
        <a href="javascript:void();" class="menos">&lsaquo;</a>#}</div>

    <div class="jg_productos_temporada">
        <h1>Productos de temporada</h1>
        <div class="am_caja_productos_temporada">
            {% for product in products %}
            <div class="jg_producto_temporada">
                {#{%  if product.season == 'Todo el año' %}#}
                <div class="am_iconos">
                    {% if is_granted('ROLE_ADMIN') %}
                <a class="fas fa-eye"  href="{{ path('view_product_fruit', {'id':product.id}) }}"></a>
                <a class="fas fa-pen" href="{{ path('edit_product_fruit', {'id':product.id}) }}"></a>
                <a class="fas fa-trash-alt" href="{{ path('delete_product_fruit', {'id':product.id}) }}" onclick="return confirm('¿Estás seguro?')"></a>
                {% endif %}
                </div>
                    <!--añadiremos la misma descripción en alt que en longdesc-->
                <a class="am_producto" href="{{ path('view_product_fruit', {'id':product.id}) }}"><img src="{{ asset('uploads/pictures/' ~ product.image) }}" alt="{{ product.description }}" longdesc="{{ product.description }}">
                <h4 class="am_titulo_producto">{{ product.nameproduct }}</h4></a>
                <div class="jg_producto_temporada_bot">
                    {% if product.offer == true %}
                        <div><p class="sn_old_prices"><strike>{{ product.offerprice }}€</strike></p></div>
                        <div><p>{{ product.unitprice }}€</p></div>
                    {% else %}
                        <div><p>{{ product.unitprice }}€</p></div>
                    {%  endif %}
                <div><button class="am_boton_producto">Añadir a cesta</button><br></div></div>
                </div>
            {#{% endif %}#}
            {% endfor %}
        </div>

    </div>
    <div class="am_marcas">
        <h1>Marcas con las que trabajamos</h1>
        <div class="am_div_marcas">
            <div class="la_horta"></div>
            <div class="camp_verd"></div>
            <div class="huerto_de_manolo"></div>
            <div class="terra_viva"> </div>
        </div>
    </div>
    <div class="am_opiniones">
        <h1>Opiniones</h1>
        <div class="am_var_opiniones">
            <div class="am_opinion">
                <p class="am_mensaje">Servicio bueno y la fruta muy buena, todo muy fresco sin problemas</p>
                <p class="autor">-Raul Montes</p>
            </div>
            <div class="am_opinion">
                <p class="am_mensaje">Entrega muy rapido y fruta de calidad buena, aunque los productos que no estan en temporada suelen ser menos frescos pero aceptables</p>
                <p class="autor">-Maria Gutierrez</p>
            </div>
            <div class="am_opinion">
                <p class="am_mensaje">No pude recojer el pedido pero lo reclame y me lo enviaron otro dia, servicio muy bueno y la fruta tambien</p>
                <p class="autor">-Marc Aguilar</p>
            </div>
            <div class="am_opinion">
                <p class="am_mensaje">Tuve un problema con el servicio de tranporte, pero la empresa soluciono el problema rapidamente y puede disfrutar de las frutas</p>
                <p class="autor">-Ana Marinez</p>
            </div>
        </div>
    </div>
{% endblock %}