{% extends 'base.html.twig' %}

{% block body %}

    <h2>Verduras</h2>
    {#{% if app.user %}#}
    <p><a href="{{ path('new_product_vegetable') }}">+ Añadir nuevo producto</a></p>
    <p><a href="{{ path('app_price_low_to_high_v') }}">Precio:bajo a alto</a></p>
    <p><a href="{{ path('app_price_high_to_low_v') }}">Precio:alto a bajo</a></p>
    <p><a href="{{ path('app_category_filter_other_vegetables') }}">Otras</a>&nbsp; </p>
    {#    {% endif %}#}
    {% for product in products %}
        <div>
            {%  if product.isfruit == 0  and product.category != 'Caja' %}
                <div>
                    <h3>{{ product.nameproduct }}</h3>
                    <p>{{ product.description }}<br>
                        {{ product.unitprice }}<br>
                        {{ product.stock }}<br>
                        {{ product.reservedstocks }}<br>
                        {{ product.season }}<br>
                        {{ product.category }}<br>
                        <img width="30px" src="{{ asset('uploads/pictures/' ~ product.image) }}">
                    </p>
                    <a href="{{ path('view_product_fruit', {'id':product.id}) }}">Ver producto</a>
                    <a href="{{ path('edit_product_vegetable', {'id':product.id}) }}">Editar</a>
                    <a href="{{ path('delete_product_vegetable', {'id':product.id}) }}" onclick="return confirm('¿Estás seguro?')">Eliminar</a>
                </div>
            {% endif %}
        </div>
    {% endfor %}

{% endblock %}
