{% extends 'base.html.twig' %}

{% block body %}

    <div class="am_formulario">
        <h2 class="jg_titulos">Añadir nueva verdura</h2><br><br>
        {{form_start(form)}}
        {{ form_widget(form) }}
        {{ form_row(form.nameproduct) }}
        {{ form_row(form.unitprice) }}
        {{ form_row(form.description) }}
        <br>
        <!--<input type="submit" class="btn btn-success" value="Crear post">-->
        <a class="jg_btn_cancel" href="{{ path('app_vegetables') }}">Cancelar</a></button>
        {{ form_errors(form) }}

        {{ form_end(form) }}
    </div>

{% endblock %}