{% extends 'base.html.twig' %}

{% block body %}

    <div class="am_formulario">
        <h2 class="jg_titulos">Crear oferta</h2><br><br>
        {{form_start(form)}}
        {{ form_widget(form) }}
        <a class="btn btn-danger" href="{{ path('offers') }}">Cancelar</a></button>
        {{ form_errors(form) }}

        {{ form_end(form) }}
    </div>

{% endblock %}