{% extends 'base.html.twig' %}

{% block body %}

    <h2>Cestas</h2>
    {% if is_granted('ROLE_ADMIN') %}
        <p><a href="{{ path('new_product_box_fruit') }}">+ Añadir nueva cesta de fruta</a></p>
        <p><a href="{{ path('new_product_box_vegetable') }}">+ Añadir nueva cesta de verdura</a></p>
    {% endif %}

    {% for product in products %}
        <div>
            {% if product.category == 'Caja' %}
            <div>
                <h3>{{ product.nameproduct }}</h3>
                <p>{{ product.description }}<br>
                    {{ product.unitprice }}<br>
                    {{ product.stock }}<br>
                    {{ product.reservedstocks }}<br>
                    {{ product.season }}<br>
                    {{ product.category }}<br>
                    <img width="30px" src="{{ asset('uploads/pictures/' ~ product.image) }}">

                </p>
                <a href="{{ path('add_product_to_basket',{'id':product.id}) }}">añadir al carrito</a>
                <a href="{{ path('view_box', {'id':product.id}) }}">Ver producto</a>
                <a href="{{ path('edit_box', {'id':product.id}) }}">Editar</a>
                <a href="{{ path('delete_box', {'id':product.id}) }}" onclick="return confirm('¿Estás seguro?')">Eliminar</a>

            </div>
            {% endif %}
        </div>
    {% endfor %}

{% endblock %}

