{% extends 'base.html.twig' %}

{% block body %}
    <div>
        <div>

            <h3>{{ product.nameproduct }}</h3>
            <p>{{ product.description }}<br>
                {{ product.unitprice }}<br>
                {{ product.stock }}<br>
                {{ product.reservedstocks }}<br>
                {{ product.season }}<br>
                {{ product.category }}<br>
                <img width="30px" src="{{ asset('uploads/pictures/' ~ product.image) }}">
            </p>
            <a href="{{ path('edit_product', {'id':product.id}) }}">Editar</a>
            <a href="{{ path('delete_product', {'id':product.id}) }}" onclick="return confirm('¿Estás seguro?')">Eliminar</a>
        </div>
    </div>
{% endblock %}
