<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Fruitable{% endblock %}</title>
    {% block stylesheet %}
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        <link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Metrophobic" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    {% endblock %}
</head>
<body>
<div class="am_cabecera">
    <header  class="jg_menu">
        <div id="am_div_logo">
            <svg width="90" height="120" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="Logo"><path id="Hoja" d="M48.464 12.38c-3.251 8.702-3.86 16.395 6.44 24.798 24.796 5.158 33.136-22.33 33.81-24.433-5.033-.22-20.57-2.413-30.44 13.913-1.295-3.199-2.741-7.374-9.81-14.278z" fill="#51AD2A" stroke="#51AD2A"/><ellipse id="Naranja" cx="41.094" cy="78.954" rx="41.094" ry="40.652" fill="#EF781C"/><g id="brillo"><circle id="Ellipse 4" cx="57.885" cy="60.838" r="12.814" fill="#FF9431" fill-opacity=".72"/><ellipse id="Ellipse 5" cx="61.819" cy="56.817" rx="8.715" ry="7.47" transform="rotate(45 61.819 56.817)" fill="#FF922E"/></g><path id="fruitable" d="M15.959 80.475c.37-.043.588.214.652.77.12 1.047-.642 1.664-2.284 1.852-.318.037-.782.03-1.392-.021.267.801.51 1.7.732 2.694.233.98.387 1.794.462 2.443.164 1.431.057 2.55-.32 3.359-.377.808-.943 1.255-1.698 1.342-.954.11-1.713-.488-2.28-1.792-.551-1.306-.984-3.323-1.297-6.052a38.108 38.108 0 0 1-.072-7.822c.256-2.687.762-4.94 1.52-6.758.77-1.832 1.73-2.815 2.883-2.947.623-.072 1.138.151 1.546.668.422.515.686 1.243.794 2.184.357 3.113-1.115 6.717-4.416 10.813.016 1.314.08 2.46.193 3.44.156 1.365.363 2.757.62 4.177.258 1.433.493 2.138.705 2.114.398-.046.517-.757.36-2.135a20.25 20.25 0 0 0-.563-2.975 37.993 37.993 0 0 0-.908-2.996c-.033-.171-.005-.396.084-.674.102-.28.235-.53.397-.75.163-.22.317-.339.463-.356.265-.03.584-.053.958-.07.12 0 .26-.009.42-.027a12.7 12.7 0 0 0 1.752-.342c.104-.026.216-.052.333-.079a3.27 3.27 0 0 1 .356-.06zm-3.285-10.917c-.239.027-.49.465-.756 1.314-.251.848-.473 1.96-.664 3.338a50.273 50.273 0 0 0-.41 4.315c.92-1.327 1.592-2.672 2.013-4.036.419-1.377.57-2.636.452-3.776-.092-.808-.304-1.193-.635-1.155zm4.402 16.526c-.503.057-.891-.166-1.164-.672-.26-.507-.456-1.344-.59-2.51a16.286 16.286 0 0 1 .173-4.991c.075-.398.235-.698.48-.901.257-.217.63-.354 1.12-.41.266-.03.455-.019.569.035.113.054.18.174.202.36.024.212-.02.7-.134 1.464a30.69 30.69 0 0 0-.159 1.428c-.033.406-.043.904-.03 1.493.307-1.19.69-2.173 1.152-2.95.46-.778.932-1.349 1.414-1.713.495-.365.96-.573 1.398-.623.861-.099 1.34.282 1.44 1.143.02.172.008.597-.036 1.273-.045.541-.06.879-.045 1.011.053.464.246.677.577.639.37-.043.814-.389 1.33-1.039.153-.192.322-.298.507-.32a.44.44 0 0 1 .425.193c.123.134.198.327.227.578.056.49-.032.89-.265 1.198a5.551 5.551 0 0 1-1.198 1.144c-.46.321-.967.514-1.524.578-.702.08-1.259-.037-1.67-.352-.4-.317-.634-.78-.703-1.39a3.048 3.048 0 0 1-.01-.602 6.691 6.691 0 0 0-.021-.541c-.024-.212-.11-.31-.255-.293-.199.023-.438.278-.717.767-.268.473-.52 1.093-.754 1.858a14.362 14.362 0 0 0-.51 2.393c-.075.64-.198 1.083-.371 1.331-.161.233-.447.374-.858.42zm9.659-1.108c-.596.068-1.118-.147-1.564-.646-.435-.514-.7-1.181-.794-2.003a17.285 17.285 0 0 1-.113-2.745c.037-.85.154-1.755.353-2.717.086-.413.24-.72.458-.919.219-.2.586-.329 1.103-.388.291-.033.495-.01.612.07.13.08.205.212.227.398.012.106-.02.472-.096 1.098-.076.505-.131.96-.165 1.367-.106 1.422-.132 2.364-.079 2.828.032.278.088.473.168.584.079.099.19.14.336.123.199-.023.421-.25.667-.68.26-.433.508-1.072.747-1.918.251-.848.469-1.879.651-3.094.06-.41.187-.713.38-.91.205-.198.526-.322.963-.372.305-.035.521-.02.65.046.126.053.201.179.224.377.038.332-.024 1.258-.185 2.78-.176 1.738-.242 2.805-.196 3.203.029.252.105.444.227.578.121.12.268.17.44.15.265-.03.558-.225.88-.584.333-.373.762-.96 1.288-1.758.137-.203.305-.317.504-.34a.44.44 0 0 1 .425.193c.124.147.202.36.234.638.06.53-.018.955-.236 1.275a8.73 8.73 0 0 1-1.65 1.94c-.597.526-1.313.836-2.148.931-.636.073-1.134-.118-1.495-.573-.347-.457-.572-1.129-.674-2.016-.122.926-.38 1.66-.774 2.202-.396.529-.852.823-1.368.882zm8.53-11.789c-.556.064-.988-.014-1.295-.234-.308-.233-.49-.581-.542-1.045a1.46 1.46 0 0 1 .404-1.214c.334-.36.773-.572 1.316-.634.49-.056.901.018 1.233.221.332.204.523.524.574.961.06.53-.063.974-.371 1.331-.31.344-.75.549-1.319.614zm1.065 10.689c-.861.098-1.525-.134-1.992-.698-.455-.565-.74-1.351-.855-2.358-.068-.596-.083-1.366-.043-2.31.05-.959.15-1.856.295-2.691.07-.438.196-.748.377-.93.18-.18.489-.297.926-.347.676-.078 1.04.109 1.09.56.039.33.001 1.113-.112 2.347-.151 1.494-.197 2.5-.138 3.016.046.397.134.696.264.896.13.2.321.285.573.256.239-.027.518-.227.837-.6.32-.371.737-.95 1.25-1.733.139-.204.307-.317.505-.34a.44.44 0 0 1 .425.193c.124.147.203.36.234.638.061.53-.018.954-.236 1.275-1.127 1.753-2.26 2.695-3.4 2.826zm10.788-5.828a.44.44 0 0 1 .425.193c.124.147.202.36.234.638.06.53-.018.955-.236 1.275a8.51 8.51 0 0 1-1.67 1.943c-.624.528-1.373.842-2.247.942-2.702.31-4.271-1.436-4.707-5.238a26.7 26.7 0 0 1-.144-1.775l-.775.089c-.397.046-.677.004-.84-.125-.148-.13-.241-.355-.278-.673-.085-.742.17-1.147.767-1.215l1.132-.13c.058-1.483.25-2.854.576-4.112.325-1.259.771-2.283 1.338-3.073.58-.791 1.248-1.23 2.003-1.317.557-.064 1.022.132 1.396.585.374.454.604 1.051.689 1.793.235 2.053-.42 3.94-1.968 5.661l2.225-.255c.212-.024.37.005.473.087.104.082.17.249.199.5.105.915-.592 1.457-2.088 1.629l-2.425.278c.05.665.096 1.183.139 1.554.157 1.378.427 2.327.81 2.847.394.518.943.737 1.645.656a2.387 2.387 0 0 0 1.45-.69c.398-.394.855-.97 1.373-1.727.137-.204.306-.317.504-.34zm-4.74-10.609c-.198.023-.395.3-.589.833-.182.517-.334 1.233-.458 2.146a29.22 29.22 0 0 0-.201 2.982c.704-.765 1.2-1.587 1.488-2.465.3-.894.411-1.685.332-2.373-.09-.782-.28-1.156-.572-1.123zM49.02 82.42c-.821.094-1.511-.129-2.07-.668-.558-.54-.893-1.294-1.004-2.26a6.442 6.442 0 0 1 .392-3.085c.38-1.01.942-1.846 1.685-2.509.754-.677 1.588-1.068 2.502-1.172.292-.034.49.004.597.112.118.094.227.283.327.567a4.7 4.7 0 0 1 .865-.18c.65-.074 1 .12 1.053.584.032.278.009.952-.07 2.021-.13 1.558-.16 2.635-.092 3.231.023.2.087.353.194.461.12.107.258.152.417.134.252-.03.539-.223.86-.582.32-.372.742-.957 1.268-1.756.138-.204.306-.317.505-.34a.44.44 0 0 1 .424.193c.125.147.203.36.235.638.06.53-.018.955-.237 1.275a10.071 10.071 0 0 1-1.532 1.907c-.557.534-1.12.833-1.69.898-.436.05-.857-.049-1.261-.298-.393-.264-.712-.643-.956-1.138-.562 1.191-1.365 1.847-2.412 1.967zm.485-2.089c.292-.033.55-.237.776-.612.225-.375.365-.854.419-1.437l.316-3.74c-.555.077-1.048.348-1.477.813-.418.45-.729 1.023-.93 1.717a5.419 5.419 0 0 0-.177 2.154c.048.411.162.707.344.887.195.179.438.252.73.218zm16.264-6.113c.172-.02.315.052.427.213.113.162.184.375.215.64.038.331.02.595-.05.79a.746.746 0 0 1-.397.408 9.103 9.103 0 0 1-2.568.778c-.139 1.13-.54 2.075-1.205 2.836-.65.76-1.42 1.19-2.308 1.291-1.337.154-2.37-.245-3.096-1.195-.726-.95-1.2-2.392-1.422-4.326-.196-1.709-.197-3.587-.002-5.636.193-2.062.613-3.842 1.26-5.339.659-1.511 1.55-2.331 2.677-2.46.61-.07 1.13.138 1.561.625.43.475.693 1.129.79 1.963a9.059 9.059 0 0 1-.245 3.31c-.288 1.12-.841 2.324-1.66 3.612.895-.035 1.66.253 2.294.865.632.598 1.057 1.382 1.276 2.35.618-.111 1.344-.329 2.18-.653a.887.887 0 0 1 .273-.072zm-6.7-9.981c-.266.03-.511.461-.738 1.292-.215.817-.378 1.916-.488 3.297a40.687 40.687 0 0 0-.088 4.5c.69-1.703 1.224-3.194 1.601-4.472.389-1.293.529-2.416.42-3.37-.05-.423-.14-.742-.272-.955-.118-.215-.263-.312-.436-.292zm.652 14.822c.411-.047.756-.261 1.034-.642.278-.38.433-.902.465-1.563a2.838 2.838 0 0 1-1.08-.983 3.34 3.34 0 0 1-.481-1.395 4.897 4.897 0 0 1-.007-.764l-.06.007c-.543.062-.969.386-1.277.972-.297.57-.394 1.307-.29 2.207.086.755.291 1.316.615 1.681.337.364.697.524 1.081.48zm12.591-3.9a.44.44 0 0 1 .425.193c.124.147.202.36.234.637.06.53-.018.955-.236 1.276a8.51 8.51 0 0 1-1.67 1.942c-.61.527-1.34.839-2.187.936-1.166.133-2.094-.297-2.785-1.291-.678-.996-1.114-2.335-1.307-4.018-.185-1.616-.191-3.48-.017-5.594.187-2.115.599-3.96 1.237-5.537.651-1.578 1.54-2.431 2.665-2.56.636-.073 1.167.168 1.593.723.438.54.72 1.36.846 2.46.18 1.576-.047 3.454-.682 5.634-.636 2.18-1.585 4.376-2.848 6.587.155.533.352.906.591 1.12.238.201.529.282.873.242a2.351 2.351 0 0 0 1.379-.62c.374-.366.835-.962 1.385-1.79.137-.204.305-.317.504-.34zm-3.852-12c-.305.036-.586.625-.844 1.768-.258 1.144-.44 2.547-.544 4.21a29.828 29.828 0 0 0 .06 4.744 25.909 25.909 0 0 0 1.713-4.907c.377-1.627.492-3.083.344-4.368-.115-1.007-.358-1.489-.729-1.446zm9.984 11.9a.44.44 0 0 1 .425.194c.124.146.202.359.234.637.055.477-.01.9-.196 1.27a3.873 3.873 0 0 1-1.318 1.5c-.56.387-1.257.628-2.091.724-1.272.145-2.302-.119-3.09-.793-.79-.688-1.26-1.681-1.41-2.98a5.725 5.725 0 0 1 .285-2.609c.293-.839.75-1.529 1.373-2.07a4.096 4.096 0 0 1 2.245-.962c.769-.088 1.411.073 1.928.484.515.397.818.986.907 1.768.105.914-.136 1.74-.722 2.478-.575.724-1.628 1.368-3.16 1.933.387.573.959.816 1.714.73.543-.063.972-.24 1.288-.53.329-.293.69-.764 1.086-1.414.136-.217.304-.337.502-.36zm-3.657-3.103c-.49.056-.875.39-1.154.998-.266.608-.352 1.316-.26 2.124l.005.04c.76-.276 1.344-.624 1.752-1.047.408-.423.584-.879.528-1.37-.03-.25-.125-.441-.287-.57-.151-.144-.346-.202-.584-.175z" fill="#fff"/></g></svg>
        </div>
        <div id="am_div_buscador">
            <input type="text" placeholder="buscar" id="am_buscador" />
        </div>
        {% if app.user is null %}
        <div id="am_div_login">
            <a id="am_login" href="{{ path('app_login') }}">login</a>
        </div>
        <div id="am_div_signin">
            <a id="am_signin" href="{{ path('app_register') }}">registrate</a>
        </div>
        {% else %}

        {% if is_granted('ROLE_ADMIN') %}
            <a href="">Pedidos</a>
        {% endif %}
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <div id="am_div_perfil">
                <a id="am_perfil" href="">perfil</a>
                <a href="">Mis pedidos</a>
                <a  href="">Lista de deseos</a>
            </div>
        {% endif %}
            <a class="nav-link" href="{{ path('app_logout') }}">Logout</a>
        {% endif %}
        <div id="am_div_carro">
            <p id="am_carro" class="fas fa-shopping-basket" ></p>
        </div>
        <div id="am_div_comprar">
            <button id="am_comprar" >COMPRAR</button>
        </div>

    </header>

    <nav class="jg_nav">
        <ul>
            <li><a href="{{ path('app_fruits') }}">Frutas</a></li>
            <li><a href="{{ path('app_vegetables') }}">Verduras</a></li>
            <li>Ofertas</li>
            <li>Cajas</li>
        </ul>
    </nav>
</div>
{% block body %}{% endblock %}
<footer>
    <section class="sn_footer_top">
        <article>
            <p class="titulo">Contacto</p>
            <p class="sn_move_top">Nosotros</p>
            <p>telefono: 555555555</p>
            <p>email: info@fruitable.com</p>
        </article>
        <article>
            <p class="titulo">Productos</p>
            <p class="sn_move_top">Verduras</p>
            <p class="sn_move_top">Frutas</p>
            <p class="sn_move_top">Cajas</p>
        </article>
        <article class="rrss">
            <p class="titulo">RRSS</p>
            <div class="iconos">
                <p class="fab fa-facebook-square  sn_move_top"></p>
                <p class="fab fa-instagram  sn_move_top"></p>
                <p class="fab fa-linkedin  sn_move_top"></p>
            </div>
        </article>
        <article>
            <p>ayuda</p>
            <article>FAQ</article>
        </article>
    </section>
    <hr>
    <section class="sn_footer_mid">
        <article>Aviso legal</article>
        <article>Cookies</article>
        <article>Condiciones generales de venta</article>
        <article>Política de privacidad</article>
    </section>
    <section class="sn_footer_bot">
        <article>©Fruitable Todos los derechos reservados</article>
    </section>
</footer>
{% block javascripts %}{% endblock %}

</body>
</html>