{% extends 'base.html.twig' %}

{% block body %}
    <div class="am_formulario">
        {% for product in products %}
        <h2 class="jg_titulos">Editar producto con identificador: <strong>{{ product.id }}</strong></h2><br><br>
        {{ form_start(form) }}
        {{ form_widget(form) }}<br>
        <a href="{{ path('app_fruits') }}" class="jg_btn_cancel">Cancelar</a></button>
        {{ form_errors(form) }}
        {{ form_end(form) }}
        {% endfor %}
    </div>
{% endblock %}