{% extends 'base.html.twig' %}

{% block body %}

    <h2>Frutas</h2>
{#{% if app.user %}#}
        <p><a href="{{ path('new_product') }}">+ Añadir nuevo producto</a></p>
{#    {% endif %}#}
    {% for product in products %}
        <div>
            <div>
                <h3>{{ product.nameproduct }}</h3>
                <p>{{ product.description }}<br>
                {{ product.unitprice }}<br>
                {{ product.stock }}<br>
                {{ product.reservedstocks }}<br>
                {{ product.season }}<br>
                {{ product.category }}<br>
                <img src="{{ product.image }}">
                </p>

            </div>
        </div>
    {% endfor %}

{% endblock %}

