{% extends 'base.html.twig' %}

{% block body %}


    <h2 class="am_titulo_frutas">Frutas</h2>
{#{% if app.user %}#}
    <div class="am_filtros"><p>
        <div class="am_filtros_precio"><p>ordear por precio:</p><a href="{{ path('app_price_low_to_high_f') }}">bajo a alto</a><a href="{{ path('app_price_high_to_low_f') }}">alto a bajo</a></div>
    <div class="am_filtros_categoria"><p>ordenar por categoria:</p><p><a href="{{ path('app_category_filter_banana') }}">Platanos</a><a href="{{ path('app_category_filter_apple') }}">Manzanas</a></p></div>
    </div>
    <p class="am_añadirproducto_fruta"><a href="{{ path('new_product_fruit') }}">+ Añadir nuevo producto</a></p>
    {#    {% endif %}#}
    {% for product in products %}
        <div>
            {%  if product.isfruit == 1 %}
                <div class="jg_producto_temporada">
                    {#{%  if product.season == 'Todo el año' %}#}
                    <div class="am_iconos">
                        <a class="fas fa-eye"  href="{{ path('view_product_fruit', {'id':product.id}) }}"></a>
                        <a class="fas fa-pen" href="{{ path('edit_product_fruit', {'id':product.id}) }}"></a>
                        <a class="fas fa-trash-alt" href="{{ path('delete_product_fruit', {'id':product.id}) }}" onclick="return confirm('¿Estás seguro?')"></a>
                    </div>
                    <!--añadiremos la misma descripción en alt que en longdesc-->
                    <a class="am_producto" href="{{ path('view_product_fruit', {'id':product.id}) }}"><img class="am_imagen_producto" src="{{ asset('uploads/pictures/' ~ product.image) }}" alt="{{ product.description }}" longdesc="{{ product.description }}">
                    <h4 class="am_titulo_producto">{{ product.nameproduct }}</h4></a>
                    <div class="jg_producto_temporada_bot">
                        <div><p>{{ product.unitprice }}€</p></div>
                        <div class="am_boton_producto"><a href="{{ path('add_product_to_basket',{'id':product.id}) }}" >Añadir a cesta</a></div></div>


                </div>
            {% endif %}
        </div>
    {% endfor %}

{% endblock %}