{% extends 'base.html.twig' %}

{% block body %}
        <div class="am_formulario">
            <h2 class="jg_titulos">Añadir transportista</h2><br><br>
                {{ form_start(form) }}
                {{ form_widget(form) }}
            <a class="jg_btn_cancel" href="{{ path('app_pedidos') }}">Cancelar</a></button>
                {{ form_errors(form) }}
                {{ form_end(form) }}
        </div>
{% endblock %}