{% extends 'base.html.twig' %}

{% block body %}
<h2 class="am_titulo_frutas jg_titulos">Pedidos</h2>
    <div class="jg_add_order">
        {#<a href="">Añadir pedido</a><br>#}
        <p class="jg_adproduct_box"><a href="{{ path('app_add_carrier') }}">+ Añadir transportista</a></p>
    </div>
    <br>
    {% for orderr in orderrs %}
        <div class="jg_orders">
           {%  if orderr.paymentconfirmed == 1 %}
               <table class="jg_table_orders">
                   <tr>
                       <th>Número de pedido</th>
                       <th>Pedido hecho por</th>
                       <th>Dirección principal</th>
                       <th>Dirección secundaria</th>
                       <th>Fecha de compra</th>
                       <th>Contenido</th>
                   </tr>
                    <tr>
                        <td>{{ orderr.id }}</td>
                        <td>{{ orderr.user }}</td>
                        <td>{{ orderr.mainaddress }}</td>
                        <td>
                            {% if orderr.secondarydirection|trim is empty %}
                                <p>-</p>
                            {% else %}
                                {{ orderr.secondarydirection }}
                            {% endif %}

                        </td>
                        <td>{{ orderr.dateeorderr|date('d-m-Y H:i:s') }}</td>
                        <td>
                            {% for detail in details %}
                                <strong>Producto: </strong>
                            {% endfor %}
                        </td>
                    </tr>
               </table>
            {% endif %}
        </div>
    {% endfor %}
{% endblock %}