{#<img src="{{ absolute_url(asset('img/logo.jpg')) }}">#}
<div class="sn_logo"></div>
<div>
<h1>¡Bienvenido a Fruitable!</h1>
<p class="sn_txt_mails">Buenas {{ user.name }}<p>
<p class="sn_txt_mails">Gracias por confiar en fruitable su fruteria de confianza</p>
<p class="sn_txt_mails">Esperamos que disfrute nuestros productos:</p>
    <div>><p class="sn_txt_mails"> <a href="{{ url('app_fruits') }}">Frutas:</a> | <a href="{{ url('app_vegetables') }}">Verduras:</a>. | <a href="{{ url('app_boxes') }}">Cestas:</a></p>
    </div>
   <a href="{{ url('offers') }}"><h2>Las mejores ofertas</h2></a>.
<p>No responda a este mail</p>

</div>