{% extends 'base.html.twig' %}{{ form_widget(form) }}
    {{ form_errors(form) }}
    {{ form_end(form) }}
{% block stylesheet %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
{% endblock %}
{% block body %}
    <div class="">
        <h2>Introduzca su nueva direccion</h2>

        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_errors(form) }}
        {{ form_end(form) }}

    </div>
{% endblock %}