{% extends 'base.html.twig' %}
{% block stylesheet %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
{% endblock %}
{% block body %}
    {% set filter = app.session.get('filter') %}

    <div class="jg_box_login">
        <h2 class="jg_titulos">Iniciar sesión</h2><br>
        <form action="{{ path('app_login') }}" method="post" class="jg_form_login">
            <div>
                <label>Correo electrónico</label><br>
                <input type="text" id="_username" name="_username" value="{{ last_username }}" placeholder="ej:maria@gmail.com">
            </div>
            <div>
                <p>Contraseña</p>
                <input type="password" id="_password" name="_password" placeholder="*********"><br>
                <input type="checkbox" id="remember_me" name="_remember_me" class="jg_rememberme"/>
                <label for="remember_me" class="jg_title_rememberme">Recordar contraseña</label>
                <br><br><a href="{{ path('app_register') }}" class="jg_enlaces">¿No tienes cuenta? Regístrate</a>
            </div>
            <br>
            <button type="submit">Acceder</button>
        </form>
    </div>

{% endblock %}