<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Fruitable{% endblock %}</title>
    {% block stylesheet %}
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        <link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Metrophobic" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('/public/img/favicon.ico') }}" />
</head>
<body>
<div class="margen"></div>
<div class="am_cabecera">
    <header  class="jg_menu">
        <div class="am_cabecera jg_menu_secondary">
            {% if app.user is null %}
            <i class="fas fa-user-alt"></i>&nbsp;<a href="{{ path('app_login') }}">Identifícate</a>
        &nbsp;&nbsp;|&nbsp;&nbsp;<p class="am_carro fas fa-shopping-basket"></p>&nbsp;Mi cesta
        {% else %}&nbsp;
            {% if is_granted('IS_AUTHENTICATED_FULLY') and not is_granted('ROLE_ADMIN') %}
                <i class="fas fa-user-circle"></i><a href="{{ path('view_profoile') }}">Mi perfil</a>&nbsp;&nbsp;&nbsp;
                <i class="fas fa-box-open"></i>&nbsp;<a href="{{ path('app_my_orders', {'id':app.user.id}) }}">Mis pedidos</a>&nbsp;
            {% endif %}&nbsp;&nbsp;
            {% if is_granted('ROLE_ADMIN') %}
                <i class="fas fa-user-circle"></i>&nbsp;<a href="{{ path('view_profoile') }}">Mi perfil</a>
                <i class="fas fa-boxes"></i>&nbsp;<a href="{{ path('app_pedidos') }}">Pedidos</a>&nbsp;&nbsp;
            {% endif %}
            <i class="fas fa-sign-out-alt"></i>&nbsp;<a href="{{ path('app_logout') }}">Logout</a>
            {% if is_granted('IS_AUTHENTICATED_FULLY') and not is_granted('ROLE_ADMIN') %}
                &nbsp;&nbsp;|&nbsp;&nbsp;<p class="am_carro fas fa-shopping-basket"></p>&nbsp;Mi cesta

            {% endif %}
            {% endif %}&nbsp;

        </div>
        <div class="am_div_logo">
            <a href="{{ path('app_homepage') }}">
                <svg width="71" height="70" viewBox="0 0 71 95" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g id="Logo">
                        <path id="Hoja" d="M38.2405 9.99982C35.675 16.8663 35.1951 22.9364 43.3223 29.5668C62.8867 33.6368 69.4678 11.9478 69.9995 10.2876C66.028 10.1138 53.7685 8.38365 45.9812 21.2658C44.9591 18.7418 43.8177 15.4473 38.2405 9.99982Z" fill="#51AD2A" stroke="#51AD2A"/>
                        <ellipse id="Naranja" cx="32.4251" cy="62.53" rx="32.4251" ry="32.0765" fill="#EF781C"/>
                        <g id="brillo">
                            <circle id="Ellipse 4" cx="45.6742" cy="48.235" r="10.1111" fill="#FF9431" fill-opacity="0.72"/>
                            <ellipse id="Ellipse 5" cx="48.7777" cy="45.0627" rx="6.87691" ry="5.89449" transform="rotate(45 48.7777 45.0627)" fill="#FF922E"/>
                        </g>
                        <path id="fruitable" d="M12.0976 62.4812C12.3758 62.4493 12.5388 62.6419 12.5867 63.0592C12.6767 63.8441 12.1057 64.3071 10.8738 64.4484C10.6354 64.4758 10.2875 64.4704 9.83016 64.4322C10.03 65.0334 10.2129 65.7069 10.379 66.4529C10.5538 67.1877 10.6692 67.7985 10.725 68.2854C10.8481 69.3583 10.7682 70.1979 10.4854 70.8041C10.2026 71.4102 9.77812 71.7458 9.21183 71.8107C8.49652 71.8928 7.92676 71.4448 7.50256 70.4667C7.0883 69.4875 6.76381 67.9747 6.5291 65.9281C6.31034 64.0206 6.29239 62.0649 6.47526 60.061C6.66693 58.046 7.04693 56.3568 7.61526 54.9931C8.19238 53.6184 8.91311 52.8815 9.77745 52.7824C10.2444 52.7288 10.6309 52.8959 10.9371 53.2835C11.2532 53.67 11.4517 54.2159 11.5326 54.9213C11.8003 57.256 10.6962 59.9594 8.22008 63.0316C8.2324 64.0166 8.28071 64.8767 8.36502 65.6118C8.48238 66.6351 8.63736 67.6793 8.82995 68.7443C9.02369 69.8192 9.20004 70.3475 9.359 70.3293C9.65704 70.2951 9.74682 69.7614 9.62832 68.7282C9.53945 67.9533 9.39878 67.2095 9.20633 66.4967C9.0238 65.7829 8.79698 65.0339 8.52586 64.2496C8.50112 64.1216 8.52206 63.9531 8.58868 63.7442C8.66524 63.5341 8.76452 63.3466 8.88652 63.1816C9.00852 63.0166 9.12416 62.9279 9.23344 62.9153C9.43214 62.8925 9.67172 62.8751 9.95217 62.8631C10.0427 62.8628 10.1476 62.8558 10.2668 62.8421C10.6642 62.7965 11.1023 62.7111 11.5812 62.5857C11.6595 62.5666 11.7428 62.547 11.8311 62.5268C11.9194 62.5066 12.0082 62.4914 12.0976 62.4812ZM9.6337 54.2936C9.45487 54.3141 9.26609 54.6427 9.06735 55.2795C8.87854 55.9152 8.71253 56.7495 8.5693 57.7826C8.42493 58.8057 8.32217 59.8844 8.26102 61.0188C8.95213 60.0236 9.45545 59.0146 9.77099 57.992C10.0854 56.9595 10.1986 56.0154 10.1105 55.1599C10.041 54.5539 9.88207 54.2651 9.6337 54.2936ZM12.9358 66.6881C12.5583 66.7314 12.2673 66.5634 12.0628 66.1843C11.8682 65.8039 11.7207 65.1767 11.6205 64.3024C11.4723 63.0109 11.5154 61.7628 11.7497 60.5583C11.8061 60.2599 11.9262 60.0348 12.1101 59.8828C12.3028 59.7198 12.5829 59.6172 12.9505 59.5751C13.1492 59.5523 13.2911 59.5612 13.3763 59.6017C13.4615 59.6423 13.5121 59.7321 13.528 59.8712C13.5462 60.0302 13.5127 60.3964 13.4275 60.9698C13.3737 61.3786 13.3341 61.7354 13.3087 62.0403C13.2833 62.3452 13.2758 62.7185 13.2862 63.1602C13.516 62.2682 13.8039 61.5306 14.1497 60.9474C14.4955 60.3642 14.849 59.9361 15.2103 59.6632C15.5814 59.3891 15.931 59.2333 16.2588 59.1957C16.9046 59.1216 17.2645 59.4074 17.3386 60.0532C17.3534 60.1824 17.3446 60.5004 17.3121 61.0074C17.2782 61.4139 17.2669 61.6669 17.2783 61.7662C17.3182 62.1139 17.4623 62.2736 17.7107 62.2451C17.9889 62.2132 18.3215 61.9536 18.7085 61.4663C18.8228 61.3224 18.9495 61.2424 19.0886 61.2265C19.2178 61.2116 19.324 61.2599 19.4072 61.3711C19.4992 61.4713 19.556 61.6157 19.5777 61.8045C19.6198 62.1721 19.5535 62.4716 19.3788 62.703C19.1336 63.023 18.8343 63.309 18.4807 63.5609C18.1359 63.8018 17.7548 63.9461 17.3376 63.994C16.811 64.0544 16.3933 63.9664 16.0843 63.7301C15.7853 63.4926 15.6096 63.1453 15.5572 62.6883C15.5401 62.5393 15.5379 62.3886 15.5506 62.2361C15.5477 62.0352 15.5423 61.8999 15.5343 61.8304C15.5161 61.6714 15.4523 61.5982 15.343 61.6107C15.194 61.6278 15.0147 61.8195 14.805 62.1858C14.6042 62.541 14.4159 63.0054 14.2401 63.5792C14.0644 64.153 13.9367 64.7514 13.8572 65.3745C13.8015 65.854 13.7088 66.1867 13.5791 66.3727C13.4582 66.5476 13.2438 66.6527 12.9358 66.6881ZM20.1795 65.8573C19.7325 65.9086 19.3415 65.7471 19.0067 65.3728C18.6807 64.9874 18.4823 64.4868 18.4117 63.8708C18.3262 63.1257 18.2979 62.4394 18.3266 61.8121C18.3541 61.1748 18.4423 60.4953 18.591 59.7737C18.6562 59.4642 18.7708 59.2347 18.9348 59.085C19.0988 58.9354 19.3746 58.8383 19.762 58.7939C19.9806 58.7688 20.1336 58.7865 20.2211 58.8469C20.3184 58.9062 20.3751 59.0054 20.3911 59.1445C20.4002 59.224 20.3763 59.4985 20.3194 59.968C20.2622 60.347 20.2209 60.6889 20.1955 60.9938C20.1164 62.0598 20.0969 62.7666 20.1367 63.1143C20.1607 63.323 20.2026 63.4691 20.2625 63.5529C20.3213 63.6266 20.4053 63.6573 20.5146 63.6447C20.6636 63.6276 20.8304 63.4575 21.0147 63.1344C21.2091 62.8102 21.3957 62.3308 21.5745 61.6963C21.7633 61.0606 21.9262 60.287 22.0633 59.3755C22.1086 59.0683 22.2033 58.841 22.3474 58.6937C22.5015 58.5451 22.7425 58.4521 23.0703 58.4145C23.2988 58.3883 23.4612 58.3998 23.5575 58.4492C23.6526 58.4886 23.7087 58.5828 23.7258 58.7319C23.7543 58.9802 23.7081 59.675 23.5874 60.8162C23.455 62.1198 23.4059 62.9206 23.4401 63.2186C23.4618 63.4074 23.5186 63.5518 23.6106 63.652C23.7015 63.7423 23.8115 63.78 23.9407 63.7652C24.1394 63.7424 24.3591 63.5964 24.6 63.3272C24.8497 63.0469 25.1718 62.6073 25.5661 62.0085C25.6694 61.8558 25.7955 61.7708 25.9445 61.7537C26.0737 61.7389 26.1799 61.7871 26.2631 61.8984C26.3562 62.0085 26.4148 62.1679 26.4387 62.3765C26.4843 62.7739 26.4252 63.0927 26.2615 63.3329C25.8947 63.9084 25.4823 64.3936 25.0243 64.7883C24.5762 65.182 24.0392 65.4147 23.4133 65.4864C22.9365 65.5411 22.5627 65.3978 22.292 65.0564C22.0313 64.7139 21.8628 64.2098 21.7864 63.5442C21.695 64.2391 21.5015 64.7897 21.2059 65.1961C20.9091 65.5925 20.567 65.8129 20.1795 65.8573ZM26.5775 57.0158C26.1603 57.0636 25.8365 57.0051 25.6062 56.8403C25.3748 56.6655 25.2391 56.4043 25.1993 56.0565C25.1594 55.7088 25.2605 55.4053 25.5025 55.1461C25.7533 54.8757 26.0824 54.7172 26.4897 54.6705C26.8573 54.6283 27.1656 54.6836 27.4146 54.8362C27.6636 54.9888 27.807 55.229 27.8446 55.5569C27.8901 55.9543 27.7974 56.287 27.5665 56.5551C27.3344 56.8132 27.0047 56.9668 26.5775 57.0158ZM27.3761 65.032C26.7303 65.106 26.2322 64.9317 25.8817 64.5088C25.5412 64.0849 25.3277 63.4954 25.2411 62.7403C25.1898 62.2932 25.1789 61.7157 25.2084 61.0077C25.2468 60.2887 25.3206 59.6159 25.4299 58.9894C25.4829 58.6612 25.577 58.429 25.7124 58.2926C25.8477 58.1563 26.0793 58.0694 26.4072 58.0318C26.9139 57.9737 27.1866 58.1135 27.2253 58.4513C27.2538 58.6997 27.2255 59.2867 27.1404 60.2124C27.0273 61.3326 26.993 62.0864 27.0374 62.4739C27.0716 62.7719 27.1375 62.9959 27.2352 63.1457C27.333 63.2956 27.4762 63.3597 27.665 63.338C27.8438 63.3175 28.0531 63.1677 28.2928 62.8886C28.5326 62.6094 28.8452 62.176 29.2308 61.5882C29.334 61.4355 29.4602 61.3505 29.6092 61.3334C29.7384 61.3186 29.8446 61.3669 29.9278 61.4781C30.0209 61.5882 30.0795 61.7476 30.1034 61.9562C30.149 62.3536 30.0899 62.6724 29.9262 62.9126C29.0805 64.2275 28.2305 64.934 27.3761 65.032ZM35.4672 60.6616C35.5964 60.6468 35.7026 60.695 35.7858 60.8063C35.8789 60.9164 35.9375 61.0757 35.9614 61.2844C36.007 61.6818 35.9479 62.0006 35.7842 62.2408C35.4174 62.8163 35 63.302 34.5321 63.6979C34.0641 64.0938 33.5023 64.3294 32.8466 64.4046C30.8199 64.637 29.6431 63.3276 29.316 60.4763C29.2659 60.0391 29.2301 59.5953 29.2086 59.1448L28.6275 59.2115C28.3294 59.2457 28.1195 59.2144 27.9977 59.1176C27.8858 59.0197 27.8162 58.8516 27.7888 58.6131C27.725 58.0568 27.9166 57.753 28.3637 57.7017L29.2131 57.6043C29.2567 56.4921 29.4005 55.464 29.6445 54.5201C29.8886 53.5761 30.2232 52.808 30.6485 52.2157C31.0837 51.6222 31.5845 51.293 32.1508 51.2281C32.568 51.1802 32.917 51.3264 33.1976 51.6666C33.4782 52.0069 33.6504 52.4552 33.7142 53.0115C33.8908 54.5514 33.3988 55.9667 32.2383 57.2573L33.9074 57.0659C34.0663 57.0477 34.1846 57.0694 34.2621 57.1309C34.3396 57.1925 34.3892 57.3177 34.4108 57.5064C34.4895 58.1919 33.9675 58.5991 32.8448 58.7278L31.0267 58.9363C31.0638 59.4354 31.0983 59.824 31.1302 60.1021C31.2487 61.1354 31.4511 61.8469 31.7374 62.2368C32.0336 62.6256 32.445 62.7898 32.9716 62.7294C33.3988 62.6804 33.7615 62.508 34.0597 62.2121C34.3579 61.9162 34.701 61.4843 35.0888 60.9164C35.1921 60.7636 35.3182 60.6787 35.4672 60.6616ZM31.9125 52.7048C31.7635 52.7219 31.6162 52.93 31.4708 53.3292C31.3341 53.7173 31.2195 54.2539 31.1269 54.9389C31.0432 55.6128 30.9928 56.3584 30.9758 57.1757C31.5038 56.6018 31.876 55.9853 32.0924 55.3264C32.3175 54.6564 32.4004 54.0631 32.3412 53.5465C32.274 52.9603 32.1311 52.6798 31.9125 52.7048ZM36.8938 63.9404C36.2778 64.0111 35.7604 63.8439 35.3415 63.439C34.9227 63.0341 34.6716 62.469 34.5885 61.7438C34.4973 60.949 34.5951 60.1778 34.8818 59.4303C35.1673 58.6728 35.5886 58.0458 36.1457 57.549C36.7115 57.0413 37.3372 56.7481 38.0227 56.6695C38.2412 56.6444 38.3904 56.6726 38.4702 56.754C38.5588 56.8244 38.6405 56.966 38.7152 57.1789C38.9193 57.1152 39.1356 57.0703 39.3641 57.0441C39.8509 56.9882 40.1142 57.1342 40.1541 57.4819C40.1781 57.6905 40.1605 58.1958 40.1015 58.9978C40.004 60.1665 39.9809 60.9744 40.0322 61.4214C40.0493 61.5705 40.0977 61.6857 40.1775 61.7671C40.2673 61.8474 40.3717 61.8807 40.491 61.8671C40.6797 61.8454 40.8946 61.7 41.1354 61.4308C41.3752 61.1517 41.6923 60.7127 42.0866 60.1139C42.1899 59.9611 42.316 59.8762 42.465 59.8591C42.5942 59.8443 42.7004 59.8925 42.7836 60.0037C42.8767 60.1138 42.9353 60.2732 42.9592 60.4818C43.0048 60.8792 42.9457 61.198 42.782 61.4382C42.4328 61.9916 42.0496 62.4684 41.6325 62.8685C41.2154 63.2687 40.7932 63.4932 40.366 63.5422C40.0382 63.5798 39.7226 63.5053 39.4194 63.3186C39.1249 63.1209 38.8859 62.8363 38.7024 62.4648C38.2815 63.3585 37.6786 63.8504 36.8938 63.9404ZM37.2576 62.3738C37.4762 62.3487 37.67 62.1956 37.8391 61.9145C38.0082 61.6334 38.1129 61.2742 38.1533 60.8367L38.3903 58.0314C37.9741 58.0892 37.6049 58.2926 37.2826 58.6416C36.969 58.9796 36.7364 59.4089 36.5848 59.9295C36.4331 60.4502 36.3892 60.9887 36.453 61.5451C36.4883 61.853 36.5741 62.0747 36.7104 62.2101C36.8567 62.3443 37.0391 62.3988 37.2576 62.3738ZM49.4556 57.7891C49.5848 57.7743 49.6915 57.8275 49.7759 57.9486C49.8602 58.0698 49.9138 58.2298 49.9366 58.4285C49.9651 58.6768 49.9525 58.8746 49.8989 59.0216C49.8442 59.1587 49.7452 59.2607 49.6018 59.3275C49.0297 59.6045 48.3876 59.7989 47.6757 59.9107C47.5716 60.7581 47.2704 61.467 46.7722 62.0375C46.2839 62.6069 45.7069 62.9297 45.0413 63.006C44.0378 63.1211 43.2638 62.8224 42.719 62.1098C42.1743 61.3972 41.8187 60.3157 41.6524 58.8652C41.5054 57.5836 41.5049 56.1745 41.6507 54.6379C41.7955 53.0913 42.1104 51.7567 42.5957 50.6341C43.0897 49.5004 43.759 48.8852 44.6035 48.7883C45.0605 48.7359 45.4508 48.8925 45.7746 49.2579C46.0972 49.6135 46.2944 50.1042 46.3662 50.7301C46.4596 51.5448 46.3985 52.3721 46.1828 53.2122C45.9671 54.0522 45.5523 54.9554 44.9384 55.9216C45.6097 55.895 46.1831 56.111 46.6585 56.5699C47.1327 57.0188 47.4517 57.6062 47.6155 58.3323C48.079 58.2489 48.624 58.0858 49.2504 57.8428C49.3077 57.8161 49.3761 57.7982 49.4556 57.7891ZM44.4299 50.303C44.2312 50.3258 44.0468 50.6489 43.8768 51.2723C43.7155 51.8847 43.5936 52.7089 43.5111 53.7451C43.4286 54.7812 43.4067 55.906 43.4452 57.1196C43.963 55.8422 44.3632 54.7244 44.6459 53.7659C44.9373 52.7964 45.042 51.954 44.96 51.2387C44.9235 50.9207 44.8559 50.6819 44.757 50.5221C44.6681 50.3612 44.5591 50.2882 44.4299 50.303ZM44.9197 61.4196C45.2277 61.3842 45.4861 61.2237 45.6949 60.9381C45.9037 60.6524 46.0199 60.2617 46.0436 59.7657C45.7117 59.5924 45.4419 59.3466 45.2343 59.0281C45.0366 58.7086 44.9161 58.36 44.8728 57.9825C44.8568 57.8434 44.8551 57.6524 44.8675 57.4094L44.8228 57.4145C44.4154 57.4612 44.096 57.7042 43.8646 58.1434C43.6419 58.5716 43.5693 59.1235 43.6468 59.799C43.7117 60.3653 43.8656 60.7855 44.1084 61.0596C44.3612 61.3326 44.6316 61.4526 44.9197 61.4196ZM54.3628 58.4946C54.4919 58.4798 54.5981 58.528 54.6813 58.6392C54.7745 58.7493 54.833 58.9087 54.857 59.1173C54.9025 59.5147 54.8435 59.8335 54.6798 60.0737C54.313 60.6493 53.8956 61.135 53.4276 61.5309C52.9696 61.9257 52.4227 62.1595 51.7869 62.2324C50.9126 62.3327 50.2163 62.0099 49.698 61.2641C49.1895 60.5172 48.863 59.5128 48.7183 58.2511C48.5793 57.0391 48.5749 55.6405 48.7051 54.0553C48.8453 52.469 49.1546 51.0847 49.633 49.9025C50.1214 48.7192 50.7878 48.0791 51.6322 47.9822C52.1091 47.9275 52.5073 48.1083 52.8268 48.5247C53.1551 48.9299 53.3666 49.5448 53.4611 50.3694C53.5967 51.5516 53.4261 52.9603 52.9493 54.5952C52.4725 56.2302 51.7605 57.8771 50.8133 59.5358C50.9296 59.9351 51.0774 60.2151 51.2569 60.3757C51.4352 60.5264 51.6535 60.5869 51.9118 60.5573C52.3192 60.5106 52.6637 60.3553 52.9455 60.0915C53.2261 59.8177 53.5724 59.3703 53.9843 58.7494C54.0876 58.5966 54.2138 58.5117 54.3628 58.4946ZM51.4736 49.4952C51.2451 49.5214 51.0341 49.9633 50.8405 50.8209C50.647 51.6786 50.511 52.7309 50.4326 53.978C50.3541 55.225 50.3694 56.411 50.4783 57.5359C51.0503 56.2927 51.4783 55.0659 51.7623 53.8557C52.0451 52.6355 52.1313 51.5436 52.0207 50.5799C51.9341 49.8248 51.7518 49.4633 51.4736 49.4952ZM58.9618 58.4201C59.091 58.4053 59.1972 58.4535 59.2804 58.5647C59.3735 58.6748 59.4321 58.8342 59.456 59.0428C59.497 59.4005 59.4479 59.7182 59.3086 59.9958C59.0794 60.4549 58.75 60.8299 58.3204 61.1208C57.9006 61.4105 57.3778 61.5912 56.7519 61.663C55.7982 61.7724 55.0256 61.5741 54.4341 61.0682C53.8414 60.5524 53.4893 59.8077 53.3776 58.834C53.299 58.1485 53.3701 57.4962 53.591 56.877C53.8108 56.2478 54.154 55.7304 54.6208 55.3245C55.0976 54.9176 55.6588 54.677 56.3046 54.603C56.8808 54.5369 57.3627 54.6578 57.7503 54.9656C58.1368 55.2635 58.3636 55.7056 58.4309 56.2917C58.5095 56.9772 58.3289 57.5968 57.8891 58.1506C57.4581 58.6932 56.6681 59.1764 55.5188 59.6001C55.8097 60.0297 56.2383 60.2121 56.8045 60.1471C57.2119 60.1004 57.5339 59.9679 57.7705 59.7495C58.0171 59.5299 58.2886 59.1767 58.5851 58.6898C58.6872 58.5271 58.8128 58.4372 58.9618 58.4201ZM56.2188 56.0925C55.8512 56.1346 55.5627 56.3841 55.3534 56.8409C55.154 57.2966 55.0891 57.8275 55.1586 58.4335L55.162 58.4633C55.7322 58.257 56.1703 57.9954 56.4761 57.6785C56.782 57.3616 56.9139 57.0193 56.8717 56.6517C56.8501 56.4629 56.7783 56.3202 56.6565 56.2234C56.5435 56.1156 56.3976 56.072 56.2188 56.0925Z" fill="white"/>
                    </g>
                </svg>
            </a>
        </div>
        <div class="am_div_buscador">
            <form role="search" method="post" action="{{ path('app_search_product') }}">
                <input type="text" placeholder="buscar" class="am_buscador" name="search"/>&nbsp;
                <button type="submit" class="am_boton_buscar">Buscar</button>
            </form>
            {#{{ render(controller('App\\Controller\\ProductController:searchForm')) }}#}
        </div>
    </header>

    <nav class="jg_nav">
        <ul>
            <a href="{{ path('app_fruits') }}"><li class="am_nav_obj jg_nav_fruit">Frutas</li></a>
            <a href="{{ path('app_vegetables') }}"><li class="am_nav_obj am_nav_objverd jg_nav_veg">Verduras y Hortalizas</li></a>
            <a href="{{ path('app_boxes') }}"><li class="am_nav_obj jg_nav_basket">Cestas</li></a>
            <a href="{{ path('offers') }}"><li class="am_nav_obj jg_nav_offers">Ofertas</li></a>
        </ul>
    </nav>
</div>

{% block body %}
    <div class="sn_perfil_general">
    <p class="sn_user_name">Bienvenido a tu perfil {{ app.user.name }}</p>
    <section class="sn_profile">
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <article class="sn_datosacceso">
            <h1 class="sn_titulos_prof">Datos de acceso</h1>
        <p>Email: {{ app.user.email }}</p>
        <p>Password: ********</p>
        </article>
        <article class="sn_direccion">
            <h1 class="sn_titulos_prof">Tu actual direccion</h1>
        <p>Direccion: {{ app.user.address }}</p>
            <p class="jg_resul_city">Ciudad:  <input class="jg_ciudad" value="{{ app.user.city }}" readonly></p>
        <p>Codigo postal: {{ app.user.postalcode }}</p>
        <p class="jg_resul_province">Provincia: <input class="jg_provincia" value="{{ app.user.province }}" readonly></p>
        <p>Telefono: {{ app.user.phone }}</p>
            <a class="sn_editar" href="{{ path('app_prof') }}"> <p class="am_editar">Editar Direccion</p></a>
        </article>
    </section>
       {# <a href="{{ path('user_del', {'id':user.id}) }}" onclick="return confirm('¿Estás seguro?')">Eliminar</a> #}
        </div>
    {% endif %}

    <footer>
        <section class="sn_footer_top">
            <article>
                <p class="titulo">Contacto</p>
                <p class="sn_move_top"><a href="{{ path('app_contact') }}">Nosotros</a></p>
                <p class="sn_move_top"><a href="tel:+34555555555">Telefono: 555555555</a></p>
                <p class="sn_move_top"><a href="mailto:noreplyfruitable@gmail.com?subject=Consulta Fruitable">Email: info@fruitable.com</a></p>
            </article>
            <article>
                <p class="titulo">Productos</p>
                <p class="sn_move_top"><a href="{{ path('app_fruits') }}">Frutas</a></p>
                <p class="sn_move_top"><a href="{{ path('app_vegetables') }}">Verduras y Hortalizas</a></p>
                <p class="sn_move_top"><a href="{{ path('app_boxes') }}">Cestas</a></p>
                <p class="sn_move_top"><a href="{{ path('offers') }}">Ofertas</a></p>
            </article>
            <article class="rrss">
                <p class="titulo">RRSS</p>
                <div class="iconos">
                    <a><p class="fab fa-facebook-square  sn_move_top"></p></a>
                    <a><p class="fab fa-instagram  sn_move_top"></p></a>
                    <a><p class="fab fa-linkedin  sn_move_top"></p></a>
                </div>
            </article>
            <article>
                <p class="titulo">Ayuda</p>
                <p class="sn_move_top"><a href="{{ path('app_privacity') }}">FAQ</a></p>
            </article>
        </section>
        <hr>
        <section class="sn_footer_mid">
            <article class="am_avisolegal"><a href="{{ path('app_legal_notice') }}">Aviso legal</a></article>
            <article class="am_politicas"><a href="{{ path('app_políticas_cookies') }}">Política de cookies</a></article>
            <article class="am_politicas"><a href="{{ path('app_sale_terms') }}">Condiciones generales de venta</a></article>
            <article class="am_politicas"><a href="{{ path('app_privacy_policy') }}">Política de privacidad</a></article>
        </section>
        <section class="sn_footer_bot">
            <article>©Fruitable Todos los derechos reservados</article>
        </section>
    </footer>
    {% if app.request.cookies.get("cookie") == 0 %}
        <div class="jg_caja_cookies">
            <div class="jg_box_content">
                <p>Las cookies de este sitio se usan para personalizar el contenido y los anuncios para ofrecer funciones de medios
                    sociales y para analizar el tráfico. Además, compartimos información sobre el uso que haga del sitio web con nuestros
                    partners de medios sociales de publicidad y de análisis web. &nbsp;<a href="{{ path('app_políticas_cookies') }}" class="jg_link_cookies">Más información</a></p>
                <a class="jg_accept_cookies">Aceptar</a>
            </div>
        </div>
    {% endif %}
{% endblock %}
{% block javascripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="{{ asset('js/functions.js') }}" type="text/javascript"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $( function() {
            var ciudad= $(".jg_ciudad").val();
            var provincia=$(".jg_provincia").val();
            //alert(ciudad);
            var aciudad= $.ajax({
                dataType: "json",
                url:"/public/json/municipios.json",
                success:function(resultado){
                    $.each(resultado,function(i,value){
                        if(value.municipio_id == ciudad){
                            $(".jg_resul_city").append(value.nombre);
                            $(".jg_ciudad").hide();
                        }

                    })

                },
                error:function(){
                    //si por ejemplo, está mal el nombre del fichero,
                    //saltará el error
                    $(".jg_resul_city").html("se ha producido un error");
                }
            });

            var aprovincia= $.ajax({
                dataType: "json",
                url:"/public/json/provincias.json",
                success:function(resultado){
                    $.each(resultado,function(i,value){
                        if(value.provincia_id == provincia){
                            $(".jg_resul_province").append(value.nombre);
                            $(".jg_provincia").hide();
                        }

                    })

                },
                error:function(){
                    //si por ejemplo, está mal el nombre del fichero,
                    //saltará el error
                    $(".jg_resul_province").html("se ha producido un error");
                }
            });

        });
    </script>
{% endblock %}