{% extends 'base.html.twig' %}

{% block body %}
    <div class="sn_perfil_general">
    <p class="sn_user_name">Bienvenido a tu perfil {{ app.user.name }}</p>
    <section class="sn_profile">
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <article class="sn_datosacceso">
            <h1 class="sn_titulos_prof">Datos de acceso</h1>
        <p>Email: {{ app.user.email }}</p>
        <p>Password: ********</p>
            {{ form_start(form3) }}
            {{ form_widget(form3) }}
            {{ form_errors(form3) }}
            {{ form_end(form3) }}
        </article>
        <article class="sn_direccion">
            <h1 class="sn_titulos_prof">Tu actual direccion</h1>
        <p>Direccion: {{ app.user.address }}</p>
            <p class="jg_resul_city">Ciudad:  <input class="jg_ciudad" value="{{ app.user.city }}" readonly></p>
        <p>Codigo postal: {{ app.user.postalcode }}</p>
        <p class="jg_resul_province">Provincia: <input class="jg_provincia" value="{{ app.user.province }}" readonly></p>
        <p>Telefono: {{ app.user.phone }}</p>
            <a class="sn_editar" href="{{ path('app_prof') }}"> <p class="am_editar">Editar Direccion</p></a>
        </article>
    </section>
       {# <a href="{{ path('user_del', {'id':user.id}) }}" onclick="return confirm('¿Estás seguro?')">Eliminar</a> #}
        </div>
    {% endif %}

{% endblock %}