{% extends 'base.html.twig' %}
{% block stylesheet %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
{% endblock %}
{% block body %}
<div class="">
    <h2>Register, please</h2>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_widget(form.save) }}
    {{ form_errors(form) }}
    {{ form_end(form) }}

</div>
{% endblock %}